body {
  margin: 0px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.title {
  font-family: BMHANNAAir;
}

.infobox {
  left: 1750px;
  top: 80px;
  width: 150px;
  height: auto;
  display: block;
  text-align: center;
  padding: 10px 0px 10px 0px;
  z-index: 9999;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.content {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.smallfont{
  font-size: 12px;
}

.wa1 {
  left: 13px;
  top: 280px;
  width: 90px;
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  z-index: 1000;
  position: fixed;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}


.coroname {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 15px;
  top: 12px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1px 5px;

}


@media (min-width: 768px) and (max-width: 1024px) {
  .wa {
    top: 105px;
    left: 13px;
    width: 80px;
    display: block;
    text-align: center;
    padding: 10px 0px 9px 0px;
    z-index: 1002;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  .wa1 {
    top: 315px;
    left: 13px;
    display: block;
    width: 80px;
    text-align: center;
    padding: 10px 10px 3px 10px;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  .d {
    top: 60px !important;
  }

  .o {
    left: 56px !important;
  }

  .search {
    position: absolute;
    top: 60px !important;
    left: 100px !important;
  }
}

@media (max-width: 767px) {
  .d1 {
    display: none;
  }

  .wa {
    left: 13px;
    top: 102px;
    width: 80px;
    display: block;
    text-align: center;
    padding: 10px 0px 9px 0px;
    z-index: 1002;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .content {
    font-size: 20px;
    height: auto;
  }

  .wa1 {
    left: 13px;
    top: 237px;
    display: block;
    width: 80px;
    text-align: center;
    padding: 10px 10px 3px 10px;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  .arrow_box {
    display: none important;
  }

  .dash {
    width: 100%;
    display: none;
    text-align: center;
    height: 212px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: absolute;
    align-items: center;
    bottom: 0px;
    z-index: 20000;
    overflow: hidden;
  }

  .dash-item {
    height: 55px;
    width: 100%;
    padding: 0px 30px 0 30px;
    display: flex;
    background: white;
    border: 0;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 20002;
  }

  .dash-item:focus {
    background: rgba(179, 176, 175, 0.15);
  }

  .back-red {
    background-color: red;
  }

  .dash-item-wrap {
    width: 100%;
    z-index: 20001;
    padding-bottom: 10px;
    height: 179px;
    -ms-overflow-style: none;
    overflow: auto;
  }

  .to {
    padding: 0 !important;
    display: flex;
    text-align: center;
    justify-content: center !important;
  }

  .qwe {
    display: none;
  }

  .d {
    width: auto !important;
    height: 37px !important;
    padding: 0px;
    z-index: 20005 !important;
    top: 60px !important;
  }

  .o {
    width: 35px !important;
    height: 37px !important;
    padding: 0px;
    left: 56px !important;
    top: 60px !important;
  }
  /*
  .search {
    position: absolute;
    top: 60px !important;
    left: 100px !important;
  }
  */
}
/* ! search 기능은 카카오 api를 통해 추후에 추가 될 예정입니다.
.search {
  position: absolute;
  top: 60px;
  left: 120px;
  z-index: 20005;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background: white;
  width: auto;
  right: 13px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 10px 5px 10px;
  height: 35px;
  max-width: 300px;
}
*/

input::placeholder {
  color: rgb(104, 110, 129);
}


.to {
  background: #333333;
  height: 50px;
  color: white;
  display: flex;
  z-index: 123132;
  position: fixed;
  width: 100%;
  justify-content: center;
  padding: 0 80px;
  align-items: center;
}

.toto {
  font-size: 23px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.in {
  width: 35px;
  display: block;
  z-index: 1000;
  position: absolute;
  height: 35px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  top: 15% !important;
  left: 13px;
}

/*  사이드바 기능 임시 제거
button {
  outline: none;
}
button .sidebar-btn {
  color: #fff;
  font-weight: bold;
} 
.sidebar {
  background-color: #222;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: -270px;
  z-index: 9999;
}

.sidebar>.sidebar-content {
  /* position: absolute;
  top: 20px;
  left: 90px; 
  color: #fff;
  height: 90%;
  padding: 0 20px 20px 20px;
}
*/

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99803;
  display: none;
}


.link {
  height: 20%;
}


.circir {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 115, 0);
  border: 1px solid black;
}

.cir-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  카카오 api를 통해 좌표값을 얻어 검색 기능을 제공할 예정입니다. 
.search{

}
*/

.blue {
  background: rgba(26, 165, 49, 0.932);
  opacity: 0.9;
}

.yellow {
  background: rgba(255, 196, 0, 0.9);
  opacity: 0.9;
}

.orange {
  background: rgb(255, 121, 12);
  opacity: 0.9;
}

.red {
  background: red;
  opacity: 0.8;
}

.tag {
  padding: 2px 6px;
  font-size: 11px;
  text-align: center;
  width: fit-content;
  margin-bottom: 3px;
}


.infobox2 {
  bottom: 0px;
  right: 0px;
  display: block;
  width: 150px;
  text-align: center;
  padding: 5px;
  z-index: 1000;
  position: fixed;
  font-size: 12px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.5);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.5);
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
  }
}